body {
    background-color: aqua;
    background-repeat: repeat;
    margin: 0px;
}
p{
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic; 
    font-variant: initial;
    font-weight: bold;
}